header {
  background-image: url("../assets/images/logo-background.jpg");
  background-size: 100%;

  height: calc((484 / 1300) * var(--app-width));
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
