.CartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
  gap: 2rem;

  height: 93px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.CartItem > img {
  height: 80%;
}
