.Quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 168px;
  height: 40px;
}

.Quantity > * {
  background-color: hsla(0, 0%, 93%, 0.5);
  border-radius: 8px;
  height: 40px;
  width: 44px;
}
