.InfoCard {
  width: 287px;
  padding: 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.InfoCard > img {
  max-width: 287px;
  transform: scale(0.9);
  border-radius: 50%;
}

.InfoCard > div {
  text-align: center;
}
