.Info {
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;

  background: linear-gradient(
    90deg,
    #fbebdc 0%,
    #f2c9b7 57.81%,
    #f3dec2 90.78%
  );
  padding: 32px;
}
