.ItemCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px;

  background-color: rgba(201, 201, 201, 0.92);
}

.ItemCard > img {
  max-width: 90%;
}

.ItemCard > div {
  text-align: center;
}

.bottom {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom > button {
  background-color: hsl(0, 0%, 87%);
  border-radius: 8px;
  padding: 2px 8px;
}

.bottom > button:hover {
  background-color: hsl(0, 0%, 90%);
  box-shadow: 0px 0px 5px 0px #00000040;
}

.add-item {
  transform: scale(1.01);
  color: green;
}
