.Shop {
  width: 1300px;
  padding: 64px;

  background-image: url("../assets/images/brick-background.jpg");
  background-size: 30%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  gap: 64px;

  justify-content: center;
  align-items: center;
}

.ItemCard {
  justify-self: center;
}
